        .Gotham_Black_35px_ffffff {
            color: #ffffff;
            font-family: 'Gotham Black', sans-serif;
            font-size: 35px;
        }

        .Gotham_Black_30px_ffffff {
            color: #ffffff;
            font-family: 'Gotham Black', sans-serif;
            font-size: 30px;
        }

        .Gotham_Black_30px_394b50 {
            color: #394b50;
            font-family: 'Gotham Black', sans-serif;
            font-size: 30px;
        }

        .Open_Sans_Light_16px_ffffff {
            color: #ffffff;
            font-family: 'Open Sans Light', sans-serif;
            font-size: 16px;
        }

        .Open_Sans_Light_16px_394b50 {
            color: #394b50;
            font-family: 'Open Sans Light', sans-serif;
            font-size: 16px;
        }

        .Open_Sans_Regular_16px_394b50 {
            color: #394b50;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }

        .Open_Sans_Regular_16px_ffffff {
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
        }

        .Open_Sans_Regular_13px_000000 {
            color: #000000;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
        }

        .Open_Sans_Regular_13px_7b7b7b {
            color: #7b7b7b;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            line-height: 22px;
        }

        .Open_Sans_Regular_13px_aeb7ba {
            color: #aeb7ba;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
        }

        .Open_Sans_Regular_13px_ffbb42 {
            color: #ffbb42;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
        }

        .Open_Sans_Regular_13px_ffffff {
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            line-height: 24px;
        }

        .Lato_Light_18px_75888d {
            color: #75888d;
            font-family: 'Lato Light', sans-serif;
            font-size: 18px;
        }

        .Lato_Light_18px_394b50 {
            color: #394b50;
            font-family: 'Lato Light', sans-serif;
            font-size: 18px;
        }

        .Lato_Light_20px_818b95 {
            color: #818b95;
            font-family: 'Lato Light', sans-serif;
            font-size: 20px;
            font-variant: small-caps;
        }

        .Lato_Light_20px_ffffff {
            color: #ffffff;
            font-family: 'Lato Light', sans-serif;
            font-size: 20px;
            font-variant: small-caps;
        }

        .Lato_Light_25px_818b95 {
            color: #818b95;
            font-family: 'Lato Light', sans-serif;
            font-size: 25px;
            font-weight: 700;
        }

        .Lato_Light_25px_ffffff {
            color: #ffffff;
            font-family: 'Lato Light', sans-serif;
            font-size: 25px;
            font-weight: 700;
        }


        .Lato_Light_32px_ffbb42 {
            color: #ffbb42;
            font-family: 'Lato Light', sans-serif;
            font-size: 32px;
            font-weight: 900;
        }

        .Lato_Light_32px_ffffff {
            color: #ffffff;
            font-family: 'Lato Light', sans-serif;
            font-size: 32px;
            font-weight: 900;
        }


        .Lato_Regular_14px_99a9ae {
            color: #99a9ae;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
        }

        .Lato_Regular_13px_394b50 {
            color: #394b50;
            font-family: 'Lato', sans-serif;
            font-size: 13px;
        }


        .Lato_Regular_13-5px_868686 {
            color: #868686;
            font-family: 'Lato', sans-serif;
            font-size: 13.5px;
            font-weight: 600;
        }

        .Lato_Regular_13-5px_c2e1ff {
            color: #c2e1ff;
            font-family: 'Lato', sans-serif;
            font-size: 13.5px;
        }

        .Lato_Regular_13-5px_b5bbc1 {
            color: #b5bbc1;
            font-family: 'Lato', sans-serif;
            font-size: 13.5px;
        }

        .Lato_Regular_22-52px_394b50 {
            color: #394b50;
            font-family: 'Lato', sans-serif;
            font-size: 22.52px;
        }

        .Lato_Bold_60px_ffffff {
            color: #ffffff;
            font-family: 'Lato Bold', sans-serif;
            font-size: 60px;
            font-weight: 700;
        }

        .Lato_Bold_60px_ffbb42 {
            color: #ffbb42;
            font-family: 'Lato Bold', sans-serif;
            font-size: 60px;
            font-weight: 700;
        }

        .Lato_Bold_20px_394b50 {
            color: #394b50;
            font-family: 'Lato Bold', sans-serif;
            font-size: 20px;
        }

        .Lato_Bold_16px_394b50 {
            color: #394b50;
            font-family: 'Lato Bold', sans-serif;
            font-size: 16px;
        }

        .Lato_Bold_15px_ffffff {
            color: #ffffff;
            font-family: 'Lato Bold', sans-serif;
            font-size: 15px;
        }

        .Brandon_Grotesque_30px_7b7b7b {
            font-family: 'Brandon Grotesque', sans-serif;
            font-size: 23px;
            color: #7b7b7b
        }