        .button_style_1 {
            background-color: #ffbb42;
            color: #ffffff;
            font-family: 'Open Sans', sans-serif;
            font-size: 14px;
            font-weight: 400;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        .button_style_2 {
            background-color: #ffbb42;
            color: #ffffff;
            font-family: 'Lato Regular', sans-serif;
            font-size: 14px;
            border-radius: 2px;
            border: none;
            cursor: pointer;
        }

        .button_style_3 {
            background-color: #ffc155;
            border-style: solid;
            border-color: #e7ad48;
            color: #ffffff;
            font-family: 'Lato Regular', sans-serif;
            font-size: 14px;
            font-weight: 400;
            border-radius: 2px;
            cursor: pointer;
            border-width: 2px;
        }

        body {
            margin: 0px;
            padding: 0px;

        }

        nav {
            display: grid;
            position: static;
            width: 100%;
            height: 94px;
            background-color: #ffffff;
            grid-template:
                ". . . . . . . . . . ."24px 
                ". logo_png . . . . . . . . ."6px 
                ". logo_png . nav_home nav_service nav_about_us nav_pricing_table nav_how_it_work nav_happy_clients nav_contact_us ."34px 
                ". logo_png . . . . . . . . ."7px 
                ". . . . . . . . . . ."23px 
                / 1fr 50px 313px 81px 94px 104px 139px 132px 141px 121px 1fr;
        }

        #nav_home {
            grid-area: nav_home;
        }

        #nav_service {
            grid-area: nav_service;
        }

        #nav_about_us {
            grid-area: nav_about_us;
        }

        #nav_pricing_table {
            grid-area: nav_pricing_table;
        }

        #nav_how_it_work {
            grid-area: nav_how_it_work;
        }

        #nav_happy_clients {
            grid-area: nav_happy_clients;
        }

        #nav_contact_us {
            grid-area: nav_contact_us;
        }

        .nav_elem {
            text-align: center;
            border-radius: 2px;
            padding-top: 10px;
            cursor: pointer;
        }

        .nav_elem:hover {
            background-color: #ffbb42;
            color: #ffffff;

        }

        #home_content {
            display: grid;
            position: static;
            width: 100%;
            height: 306px;
            background-color: #709dca;
            grid-template:
                ". . . . . . . . ."104px 
                ". home_text_boost home_text_boost home_text_boost home_text_boost home_text_boost home_text_boost home_text_boost ."35px 
                ". home_text_lorem home_text_lorem home_text_lorem home_text_lorem home_text_lorem home_text_lorem home_text_lorem ."18px 
                ". . . . . . . . ."33px 
                ". home_input_name . home_input_email . home_input_tel . home_submit ."46px 
                ". . . . . . . . ."70px 
                / 1fr 281px 9px 281px 9px 281px 9px 210px 1fr
        }

        #home_input_name {
            grid-area: home_input_name;
            background-image: url(../images/icon_name.png);
        }

        #home_input_email {
            grid-area: home_input_email;
            background-image: url(../images/icon_email.png);
        }

        #home_input_tel {
            grid-area: home_input_tel;
            background-image: url(../images/icon_phone.png)
        }

        #home_submit {
            grid-area: home_submit;
        }

        #home_text_boost {
            text-align: center;
            font-weight: 900;
            grid-area: home_text_boost;
        }

        #home_text_lorem {
            text-align: center;
            grid-area: home_text_lorem;
        }

        .inputs {
            background-color: #ffffff;
            background-position: left;
            background-repeat: no-repeat;
            text-align: left;
            padding-top: 2px;
            padding-left: 40px;
            border-radius: 5px;
            border: none;
            outline: none;
        }

        .inputs::-webkit-input-placeholder {
            color: #a9a9a9;
            text-align: left;
            padding-top: 2px;
        }

        #home_laptop {
            background: linear-gradient(to bottom, #709dca 280px, #ffffff 100px);
            width: 100%;
            height: 380px;
            display: grid;
            grid-template:
                ". laptop_block laptop_block laptop_block laptop_block laptop_block laptop_block laptop_block ."343px 
                ". . . . . . . . ."21px 
                ". . circle1 . circle2 . circle3 . ."16px 
                / 1fr 293px 16px 5px 16px 5px 16px 293px 1fr;
        }

        #laptop_block {
            width: 644px;
            height: 343px;
            background-image: url(../images/laptop.png);
            grid-area: laptop_block;
            overflow: hidden;
        }

        #arrow_left {
            margin-top: 139px;
            margin-left: 40px;
            position: absolute;
            cursor: pointer;
        }

        #arrow_right {
            margin-top: 139px;
            margin-left: 597px;
            position: absolute;
            cursor: pointer;
        }

        #laptop_screen {
            width: 446px;
            height: 266px;
            margin-top: 18px;
            margin-left: 102px;
            overflow: hidden;
            position: absolute;
        }

        #slide1 {
            display: block;
            animation-name: slide_anim;
            animation-duration: 0.5s;
        }

        #slide2 {
            display: none;
            animation-name: slide_anim;
            animation-duration: 0.5s;
        }

        #slide3 {
            display: none;
            animation-name: slide_anim;
            animation-duration: 0.5s;
        }

        @keyframes slide_anim {
            20% {opacity: 0.2}
            40% {opacity: 0.4}
            60% {opacity: 0.6}
            80% {opacity: 0.8}
            100% {opacity: 1.0}
        }

        #circle1 {
            grid-area: circle1;

        }

        #circle2 {
            grid-area: circle2;
            animation-fill-mode: forwards;
        }

        #circle3 {
            grid-area: circle3;
        }

        .grey_circle {
            height: 10px;
            width: 10px;
            border-radius: 9px;
            border-style: solid;
            border-color: #a9a9a9;
            cursor: pointer;
        }

        .grey_circle:hover {
            border-color: #709dca;
        }

        #services_heading {
            margin: 0px;
            padding: 0px;
            height: 238px;
            width: 100%;
            display: flex;
            color: #394b50;
            flex-direction: column;
            justify-content: center;
        }

        #services_text_our {
            align-self: center;
        }

        #services_text_lorem {
            align-self: center;
        }

        #services_content {
            display: grid;
            height: 593px;
            width: 100%;
            grid-template:
                ". service_icon1 service_block1 . service_icon4 service_block4 ."106px 
                ". . . . . . ."60px 
                ". service_icon2 service_block2 . service_icon5 service_block5 ."108px 
                ". . . . . . ."58px 
                ". service_icon3 service_block3 . service_icon6 service_block6 ."110px 
                ". . . . . . ."151px 
                / 1fr 79px 458px 76px 73px 491px 1fr
        }

        #service_icon1 {
            grid-area: service_icon1;
        }

        #service_icon2 {
            grid-area: service_icon2;
        }

        #service_icon3 {
            grid-area: service_icon3;
        }

        #service_icon4 {
            grid-area: service_icon4;
        }

        #service_block1 {
            grid-area: service_block1;
        }

        #service_block2 {
            grid-area: service_block2;
        }

        #service_block3 {
            grid-area: service_block3;
        }

        #service_block4 {
            grid-area: service_block4;
        }

        #service_block5 {
            grid-area: service_block5;
        }

        #service_block6 {
            grid-area: service_block6;
        }

        #about_us_content {
            display: grid;
            height: 623px;
            width: 100%;
            background-color: #ffc155;
            grid-template:
                "about_us_image . . ."162px 
                "about_us_image. about_us_block ."290px 
                "about_us_image . . ."171px 
                / 850px 76px 509px 265px
        }

        #about_us_image {
            grid-area: about_us_image;
        }

        #about_us_block {
            grid-area: about_us_block;
        }

        #about_us_button {
            height: 46px;
            width: 145px;
            margin-top: 32px;
        }

        #price_heading {
            display: flex;
            flex-direction: column;
            padding-bottom: 0px;
            margin: 0px;
            width: 100%;
            height: 232px;
            background-color: #e7edf3;
        }

        #price_text_choose {
            align-self: center;
            margin-top: 131px;
        }

        #price_text_lorem {
            align-self: center;
        }

        #price_content {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 501px;
            background-color: #e7edf3;
        }

        #price_basic {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 387px;
            height: 439px;
            background-color: #ffffff;
            align-self: center;
            color: #818b95;
            border-radius: 4px;

        }

        .all_price_heading {
            align-self: center;
            margin-bottom: 22px;
        }

        .all_price_dollar_block {
            align-self: center;
            height: 60px;

        }

        .all_price_dollar_sign {
            position: relative;
            top: -22px;
        }

        .all_price_month_text {
            align-self: center;
            margin-bottom: 33px;
        }

        .all_price_main_text {
            align-self: center;
            height: 25px;
            width: 329px;
            text-align: center;
            padding-top: 11px;
        }

        #basic_gold_account {
            border-top: solid #e2e9f0 2px;
            border-bottom: solid #e2e9f0 2px;

        }

        #basic_gold_hour {
            border-bottom: solid #e2e9f0 2px;
        }

        .basic_gold_premium_button {
            margin-top: 16px;
            width: 131px;
            height: 42px;
            align-self: center;
        }

        #price_premium {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 387px;
            height: 501px;
            background-color: #709dca;
            color: #ffffff;
            border-radius: 4px;
        }

        #premium_month_text {
            color: #ffffff;
        }

        #premium_account {
            color: #c2e1ff;
            border-top: solid #8eb8e2 2px;
            border-bottom: solid #8eb8e2 2px;

        }

        #premium_hour {
            color: #c2e1ff;
            border-bottom: solid #8eb8e2 2px;
        }

        #premium_cloud {
            color: #c2e1ff;
        }

        #price_gold {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 387px;
            height: 439px;
            color: #818b95;
            background-color: #ffffff;
            align-self: center;
            border-radius: 4px;
        }

        #price_footer {
            width: 100%;
            height: 164px;
            background-color: #e7edf3;
        }

        #works_heading {
            width: 100%;
            height: 262px;
            display: flex;
            flex-direction: column;
        }

        #works_text_how_it {
            align-self: center;
            margin-top: 150px;
        }

        #works_text_lorem {
            align-self: center;
        }

        #works_content {
            width: 100%;
            height: 324px;
            display: grid;
            grid-template:
                ". works_icons works_icons works_icons works_icons works_icons works_icons works_icons ."163px 
                ". . . . . . . . ."45px 
                ". step1 . step2 . step3 . step4 ."115px 
                / 1fr 226px 75px 226px 75px 226px 75px 219px 1fr;
        }

        #works_icons {
            grid-area: works_icons;
        }

        .step_heading {
            text-align: center;
        }

        .step_text {
            text-align: center;
        }

        #works_footer {
            display: flex;
            flex-direction: row;
            justify-content: center;
            width: 100%;
            height: 270px;
        }

        #works_button {
            margin-top: 75px;
            width: 165px;
            height: 46px;
        }

        #clients_heading {
            display: flex;
            flex-direction: column;
            background-color: #ffc155;
            width: 100%;
            height: 246px;
        }

        #clients_text_happy {
            margin-top: 136px;
            align-self: center;
        }

        #works_text_we_are {
            align-self: center;
        }

        #clients_content {
            width: 100%;
            height: 500px;
            background-color: #ffc155;
            display: grid;
            grid-template:
                ". clients_icon1 quote1 clients_text1-1 . clients_icon3 quote3 clients_text3-1 ."176px 
                ". clients_text1-2 clients_text1-2 clients_text1-2 . clients_text3-2 clients_text3-2 clients_text3-2 ."65px 
                ". . . . . . . . ."20px ". clients_icon2 quote2 clients_text2-1 . clients_icon4 quote4 clients_text4-1 ."174px 
                ". clients_text2-2 clients_text2-2 clients_text2-2 . clients_text4-2 clients_text4-2 clients_text4-2 ."65px 
                / 1fr 158px 21px 387px 36px 159px 20px 387px 1fr;
        }

        .white_back {
            background-color: #ffffff;
        }

        #clients_icon1 {
            grid-area: clients_icon1;
        }

        #clients_icon2 {
            grid-area: clients_icon2;
        }

        #clients_icon3 {
            grid-area: clients_icon3;
        }

        #clients_icon4 {
            grid-area: clients_icon4;
        }

        #clients_text1-1 {
            grid-area: clients_text1-1;
            padding-top: 50px;
        }

        #clients_text1-2 {
            grid-area: clients_text1-2;
            padding-left: 178px;

        }

        #clients_text2-1 {
            grid-area: clients_text2-1;
            padding-top: 50px;
        }

        #clients_text2-2 {
            grid-area: clients_text2-2;
            padding-left: 178px;
        }

        #clients_text3-1 {
            grid-area: clients_text3-1;
            padding-top: 50px;
        }

        #clients_text3-2 {
            grid-area: clients_text3-2;
            padding-left: 178px;
        }

        #clients_text4-1 {
            grid-area: clients_text4-1;
            padding-top: 50px;
        }

        #clients_text4-2 {
            grid-area: clients_text4-2;
            padding-left: 178px;
        }

        #quote1 {
            grid-area: quote1;
            padding-top: 45px;
            padding-left: 7px;
        }

        #quote2 {
            grid-area: quote2;
            padding-top: 45px;
            padding-left: 7px;
        }

        #quote3 {
            grid-area: quote3;
            padding-top: 45px;
            padding-left: 7px;
        }

        #quote4 {
            grid-area: quote4;
            padding-top: 45px;
            padding-left: 7px;
        }

        #clients_footer {
            background-color: #ffc155;
            width: 100%;
            height: 159px;
        }

        .clients_name_text {
            color: #f6772c;
        }

        #newsletter_heading {
            display: flex;
            width: 100%;
            height: 239px;
            flex-direction: column;
        }

        #newsletter_text_newsletter {
            align-self: center;
            padding-top: 149px;
        }

        #newsletter_text_lorem {
            align-self: center;
        }

        #newsletter_inputs {
            display: grid;
            width: 100%;
            height: 46px;
            grid-template:
                ". newsletter_name . newsletter_email . newsletter_button ."46px 
                / 1fr 307px 9px 388px 9px 218px 1fr;
        }

        #newsletter_name {
            grid-area: newsletter_name;
            background-image: url(../images/icon_name.png);
            border: solid 1px #cbcbcb;
        }

        #newsletter_email {
            grid-area: newsletter_email;
            background-image: url(../images/icon_email.png);
            border: solid 1px #cbcbcb;
        }

        #newsletter_button {
            grid-area: newsletter_button;
            padding-top: 5px;
        }

        #newsletter_content {
            width: 100%;
            height: 659px;
            background-image: url(../images/newsletter_background.png);
            background-position: center;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: top;
        }

        #newsletter_content_text {
            width: 174px;
            height: 169px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            margin-top: 145px;
        }

        #newsletter_text_addr {
            text-align: center;
            line-height: 29px;
        }

        #newsletter_text_buisiness {
            text-align: center;
            line-height: 24px;
        }

        #newsletter_text_email {
            line-height: 24px;
            text-align: center;
            text-decoration: none;
        }

        #footer_container {
            width: 100%;
            height: 262px;
        }

        #footer_white_space1 {
            height: 50px;
            width: 100%;
        }

        #footer_navigation {
            width: 100%;
            height: 45px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .nav_elem_footer {
            text-align: center;
            border-radius: 2px;
            cursor: pointer;
            padding-left: 45px;
        }

        #footer_phone {
            width: 100%;
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        #footer_social {
            width: 100%;
            height: 37px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        #area_style {
            outline: none;
        }

        #twitter2 {
            display: none;
        }

        #facebook2 {
            display: none;
        }

        #footer_white_space2 {
            height: 42px;
            width: 100%;
        }

        #footer_author {
            width: 100%;
            height: 45px;
            background-color: #709dca;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }